<?xml version="1.0"?>
<robot name="drone">
  <link name="base_link">
    <visual>
      <geometry>
        <mesh filename="file:///home/ros_workspace/src/x500_py/models/X500_drone.stl" scale="1 1 1"/>
      </geometry>
      <origin xyz="0 0 0" rpy="1.5708 0 0"/>
      <material name="darkgrey">
        <color rgba="0.3 0.3 0.3 1"/>
      </material>
    </visual>
  </link>
  
  <link name="lidar_link"/>

  <link name="imu_link"/>

  <joint name="imu_joint" type="fixed">
    <parent link="base_link"/>
    <child link="imu_link"/>
    <origin xyz="0 0 0.02" rpy="0 0 0"/>
  </joint>
  
  <joint name="lidar_joint" type="fixed">
    <parent link="base_link"/>
    <child link="lidar_link"/>
    <origin xyz="0.099 0 -0.03" rpy="0 0 0"/>
  </joint>
</robot>