<?xml version="1.0" encoding="UTF-8"?>
<launch>
  <param name="/use_sim_time" value="true" />
  
  <!-- ==================== ROBOT 1 ==================== -->
  <group ns="robot">
    <!-- SLAM Toolbox for robot -->
    <node pkg="slam_toolbox" type="async_slam_toolbox_node" name="slam_toolbox" output="screen">
      <param name="odom_frame" value="odom" />
      <param name="solver_plugin" value="solver_plugins::CeresSolver" />
      <param name="ceres_linear_solver" value="SPARSE_NORMAL_CHOLESKY" />
      <param name="ceres_preconditioner" value="SCHUR_JACOBI" />
      <param name="ceres_trust_strategy" value="LEVENBERG_MARQUARDT" />
      <param name="ceres_dogleg_type" value="TRADITIONAL_DOGLEG" />
      <param name="ceres_loss_function" value="None" />
      <param name="map_update_interval" value="1" />
      <param name="resolution" value="0.05" />
      <param name="map_frame" value="robot_map" />
      <param name="odom_frame" value="robot_odom" />
      <param name="base_frame" value="robot_base_link" />
      <param name="scan_topic" value="/robot/front_laser/scan" />
      <remap from="/map" to="map" />
    </node>
  </group>
  
  <!-- ==================== Drone 1 ==================== -->
  <group ns="drone1">
    <!-- Convert pointcloud to laserscan -->
    <node pkg="pointcloud_to_laserscan" type="pointcloud_to_laserscan_node" name="pointcloud_to_laserscan" output="screen">
      <remap from="cloud_in" to="lidar/points"/>
      <remap from="scan" to="scan"/>
      <rosparam>
        target_frame: drone1/lidar_link
        transform_tolerance: 0.1
        min_height: -1
        max_height: -0.2
        angle_min: -3.14159
        angle_max: 3.14159
        angle_increment: 0.00872664626
        scan_time: 0.1
        range_min: 0.7
        range_max: 40.0
        use_inf: true
      </rosparam>
    </node>
    
    <!-- SLAM Toolbox for drone1 -->
    <node pkg="slam_toolbox" type="async_slam_toolbox_node" name="slam_toolbox" output="screen">
      <param name="solver_plugin" value="solver_plugins::CeresSolver" />
      <param name="ceres_linear_solver" value="SPARSE_NORMAL_CHOLESKY" />
      <param name="ceres_preconditioner" value="SCHUR_JACOBI" />
      <param name="ceres_trust_strategy" value="LEVENBERG_MARQUARDT" />
      <param name="ceres_dogleg_type" value="TRADITIONAL_DOGLEG" />
      <param name="ceres_loss_function" value="None" />
      <param name="map_update_interval" value="1" />
      <param name="resolution" value="0.05" />
      <param name="map_frame" value="drone1_map" />
      <param name="odom_frame" value="drone1/odom" />
      <param name="base_frame" value="drone1/base_link" />
      <param name="provide_odom_frame" value="false" />
      <param name="scan_topic" value="/drone1/scan" />
      <param name="scan_time" value="0.1" />

  <!-- MAPPING ONLY - no localization -->
<param name="transform_publish_period" value="0.0" />

      <remap from="/map" to="map" />
    </node>
  </group>

    <!-- ==================== Drone 2 ==================== -->
  <group ns="drone2">
    <!-- Convert pointcloud to laserscan -->
    <node pkg="pointcloud_to_laserscan" type="pointcloud_to_laserscan_node" name="pointcloud_to_laserscan" output="screen">
      <remap from="cloud_in" to="lidar/points"/>
      <remap from="scan" to="scan"/>
      <rosparam>
        target_frame: drone2/lidar_link
        transform_tolerance: 0.1
        min_height: -1
        max_height: -0.2
        angle_min: -3.14159
        angle_max: 3.14159
        angle_increment: 0.00872664626
        scan_time: 0.1
        range_min: 0.7
        range_max: 40.0
        use_inf: true
      </rosparam>
    </node>
    
    <!-- SLAM Toolbox for drone1 -->
    <node pkg="slam_toolbox" type="async_slam_toolbox_node" name="slam_toolbox" output="screen">
      <param name="solver_plugin" value="solver_plugins::CeresSolver" />
      <param name="ceres_linear_solver" value="SPARSE_NORMAL_CHOLESKY" />
      <param name="ceres_preconditioner" value="SCHUR_JACOBI" />
      <param name="ceres_trust_strategy" value="LEVENBERG_MARQUARDT" />
      <param name="ceres_dogleg_type" value="TRADITIONAL_DOGLEG" />
      <param name="ceres_loss_function" value="None" />
      <param name="map_update_interval" value="1" />
      <param name="resolution" value="0.05" />
      <param name="map_frame" value="drone2_map" />
      <param name="odom_frame" value="drone2/odom" />
      <param name="base_frame" value="drone2/base_link" />
      <param name="provide_odom_frame" value="false" />
      <param name="scan_topic" value="/drone2/scan" />
      <param name="scan_time" value="0.1" />

        <!-- MAPPING ONLY - no localization -->
<param name="transform_publish_period" value="0.0" />

      <remap from="/map" to="map" />
    </node>
  </group>
  
  <!-- Static transforms to align maps in global frame -->
  <node pkg="tf" type="static_transform_publisher" name="robot_map_to_global" 
        args="0 0 0 0 0 0 global_map robot_map 100" />

  <node pkg="tf" type="static_transform_publisher" name="drone1_map_to_global" 
        args="0.0 0 0 0 0 0 global_map drone1_map 100" />
  
  <node pkg="tf" type="static_transform_publisher" name="drone2_map_to_global" 
        args="0.0 0 0 0 0 0 global_map drone2_map 100" />

  <!-- Static transforms from maps to odom frames -->
<node pkg="tf" type="static_transform_publisher" name="drone1_map_to_odom" 
      args="0 0 0 0 0 0 drone1_map drone1/odom 100" />

<node pkg="tf" type="static_transform_publisher" name="drone2_map_to_odom" 
      args="0 0 0 0 0 0 drone2_map drone2/odom 100" />      

  
  <!-- Costmap combiner -->
  <node pkg="mapping" type="costmap_combiner.py" name="costmap_combiner" output="screen">
    <param name="output_topic" value="combined_costmap" />
    <param name="global_size" value="510" />
    <param name="resolution" value="0.05" />
    <param name="global_frame" value="global_map" />
    <rosparam param="robot_namespaces">["robot", "drone1", "drone2"]</rosparam>
    <param name="robot_offset_x" value="0.0" />
    <param name="robot_offset_y" value="0.0" />
    <param name="drone1_offset_x" value="2.0" />
    <param name="drone1_offset_y" value="0.0" />
    <param name="drone2_offset_x" value="-2.0" />
    <param name="drone2_offset_y" value="0.0" />
  </node>

  <node pkg="mapping" type="cbf_safety_filter.py" name="cbf_safety">
    <param name="wheel_base" value="0.4"/>
    <param name="safety_radius" value="0.6"/>
    <param name="gamma" value="1.5"/>
    <param name="k_dir" value="0.3"/>
    <param name="P_slack" value="1000.0"/>
  </node>

  <!-- Only commincation radius 
  <node pkg="mapping" type="cbf_drone_comm.py" name="cbf_comm_range_filter_d1" output="screen">
    <param name="comm_radius" value="5.0" />         
    <param name="gamma" value="2.0" />               
    <param name="P_slack" value="1000000.0" /> 
    <param name="drone_frame" value="drone1/base_link" />
    <param name="sub_topic" value="drone1/desired/cmd_vel" />
    <param name="pub_topic" value="drone1/incoming/cmd_vel" />       
  </node>

  <node pkg="mapping" type="cbf_drone_comm.py" name="cbf_comm_range_filter_d2" output="screen">
    <param name="comm_radius" value="5.0" />         
    <param name="gamma" value="2.0" />               
    <param name="P_slack" value="1000000.0" /> 
    <param name="drone_frame" value="drone2/base_link" />
    <param name="sub_topic" value="drone2/desired/cmd_vel" />
    <param name="pub_topic" value="drone2/incoming/cmd_vel" />       
  </node>
  -->

  <!-- Communcation and collision avoidance - combined -->
  <node pkg="mapping" type="cbf_drone_combined.py" name="cbf_comm_range_filter_d1" output="screen">
    <param name="comm_radius" value="5.0" />         
    <param name="safety_margin" value="0.2" />
    <param name="gamma_comm" value="10.0" />
    <param name="gamma_coll" value="7.0" />
    <param name="drone_radius" value="0.5" />
    <param name="P_slack" value="1000000.0" />
    <param name="drone_frame" value="drone1/base_link" />
    <param name="robot_frame" value="robot_base_link" />
    <param name="other_drone_frame" value="drone2/base_link" />
    <param name="other_drone_cmd_topic" value= "drone2/desired/cmd_vel" />
    <param name="sub_topic" value="drone1/desired/cmd_vel" />
    <param name="pub_topic" value="drone1/incoming/cmd_vel" /> 
  </node>

  <node pkg="mapping" type="cbf_drone_combined.py" name="cbf_comm_range_filter_d2" output="screen">
    <param name="comm_radius" value="5.0" />         
    <param name="safety_margin" value="0.2" />
    <param name="gamma_comm" value="10.0" />
    <param name="gamma_coll" value="7.0" />
    <param name="drone_radius" value="0.5" />
    <param name="P_slack" value="1000000.0" />
    <param name="drone_frame" value="drone2/base_link" />
    <param name="robot_frame" value="robot_base_link" />
    <param name="other_drone_frame" value="drone1/base_link" />
    <param name="other_drone_cmd_topic" value= "drone1/desired/cmd_vel" />
    <param name="sub_topic" value="drone2/desired/cmd_vel" />
    <param name="pub_topic" value="drone2/incoming/cmd_vel" /> 
  </node>
  
  <node pkg="mapping" type="robot_boundry_vis.py" name="robot_boundry_visualizer_robot" output="screen">
    <param name="frame_id" value="robot_base_link" />
    <param name="vis_topic" value="robot/visualization_marker/radius" />    
    <param name="circle_radius" value="5.0" />
  </node>

  <node pkg="mapping" type="robot_boundry_vis.py" name="robot_boundry_visualizer_d1" output="screen">
    <param name="frame_id" value="drone1/base_link" />
    <param name="vis_topic" value="drone1/visualization_marker/radius" />    
    <param name="circle_radius" value="0.5" />
  </node>

  <node pkg="mapping" type="robot_boundry_vis.py" name="robot_boundry_visualizer_d2" output="screen">
    <param name="frame_id" value="drone2/base_link" />
    <param name="vis_topic" value="drone2/visualization_marker/radius" />    
    <param name="circle_radius" value="0.5" />
  </node>

  <node pkg="mapping" type="input_vector_vis.py" name="input_vector_visualizer_d1" output="screen">
    <param name="frame_id" value="drone1/base_link" />
    <param name="twist_topic" value="drone1/incoming/cmd_vel" />
    <param name="vis_topic" value="drone1/visualization_marker/vector" />    
    <param name="arrow_scale" value="1.0" />
  </node>

  <node pkg="mapping" type="input_vector_vis.py" name="input_vector_visualizer_d2" output="screen">
    <param name="frame_id" value="drone2/base_link" />
    <param name="twist_topic" value="drone2/incoming/cmd_vel" />
    <param name="vis_topic" value="drone2/visualization_marker/vector" />    
    <param name="arrow_scale" value="1.0" />
  </node>



  <!-- RViz -->
  <node name="rviz_map" pkg="rviz" type="rviz" required="true"
        args="-d /home/ros_workspace/project/Mapping.rviz" />
</launch>